<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27053830683-7cr7lpncep6hve7t189j4e17jhbj23jr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27053830683-7cr7lpncep6hve7t189j4e17jhbj23jr</string>
	<key>API_KEY</key>
	<string>AIzaSyDEX5wMz4ifusaeD1rkSdtyy5OiMs9EDCw</string>
	<key>GCM_SENDER_ID</key>
	<string>27053830683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>arusha.Melp</string>
	<key>PROJECT_ID</key>
	<string>help-7d508</string>
	<key>STORAGE_BUCKET</key>
	<string>help-7d508.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27053830683:ios:c399e5f3382a00b271bebe</string>
</dict>
</plist>